site_name: ILPDecoder
site_url: https://nzy1997.github.io/ILPDecoder/
repo_url: https://github.com/nzy1997/ILPDecoder
repo_name: nzy1997/ILPDecoder

docs_dir: docs

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.expand
    - content.code.copy

markdown_extensions:
  - admonition
  - codehilite
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Solver Backends: solvers.md
  - Mathematical Formulation: math.md
  - Stim DEM Support: stim_dem.md
  - Sinter Integration: sinter.md
  - Examples: examples.md
  - Benchmarks: benchmarks.md
